body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
header {
    z-index: 1000; /* Asegúrate de que el menú esté siempre visible */
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Para poder posicionar la imagen */
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra toda la pantalla */
    position: absolute; /* Para que no afecte el layout */
    top: 0;
    left: 0;
    z-index: 1; /* Mantiene la imagen detrás del reproductor */
}

.nav-link {
    color: black;
}
.nav-link.active {
    background-color: black;
    color: white;
}

.custom-music-player {
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.custom-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.custom-btn:hover {
    background-color: white;
    color: black;
}