html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

header {
    z-index: 1000;
}

.btn {
    font-size: 2rem;
}

.btn-custom-main {
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    right: 50%;
    transform: translate(50%, -50%);
}

.main__container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}

.nav-link {
    color: rgb(12, 3, 3);
}

.nav-link.active {
    background-color: black;
    color: white;
}

.reproductor {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    width: 100%;
    min-height: 10rem;
    padding: 0;
    flex-wrap: wrap;
}

.audio-image {
    width: 20%;
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    flex: 0 1 auto;
}

.audio-container {
    display: flex;
    background-color: #282c34;
    padding: 10px;
    color: white;
    flex: 1;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.controls {
    display: flex;
    gap: 5px;
}

.controls button {
    background-color: #dc3545;
    font-size: 2rem;
    border: none;
    padding: 2rem;
    margin: 1rem;
    border-radius: 35%;
    cursor: pointer;
    color: white;
    flex: 1;
}

.controls button:hover {
    background-color: white;
    color: black;
}

#volumeControl {
    color: #dc3545;
    width: 100%;
    max-width: 300px;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

.logo {
    max-width: 400px;
    max-height: 400px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    width: auto;
    height: auto;
}

.programacion {
    position: absolute;
    z-index: 10000;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 40rem;
    height: 40rem;
    border-radius: 25px;
}

.programacion-programas {
    padding: 2rem;
    text-align: left;
}

.programacion-programas h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

@media (max-width: 768px) {
    .audio-image {
        width: 40%;
    }

    .controls button {
        padding: 0.5rem;
    }

    .audio-container {
        flex-direction: column;
        align-items: start;
    }

    .controls

    .logo {
        width: 25rem;
        height: 25rem;
    }
}
